1. data creation : create a suitable arrays to represent students,subjects,amd their marks

In [3]:
import numpy as np
students = ["smitha", "vidhya", "manasa"]
subjects = ["tamil", "Science", "GK"]
marks_data = [[80, 85, 78]]
marks = np.array(marks_data)
print("Student:", students)
print("Subject:", subjects)
print(marks)

Student: ['smitha', 'vidhya', 'manasa']
Subject: ['tamil', 'Science', 'GK']
[[80 85 78]]

2. data exploration: explore the properties of these arrays ,such as their dimensions,size,and structure

In [4]:
np.size
students

['smitha', 'vidhya', 'manasa']

In [5]:
students=np.ndim
students

3. data transformation : perform necessary reshaping and regognising of the data to suit various operations.

4. Data combination: merge or split arrays to stimulate adding new students ,new subjects,or recognaising the datasets

5.data modification: apply operations to update marks,remove data,or identify unique information

6.data type handling: demonstrate how the same data can exist in different,data types and how changes affect results

7.copy and view behaviour: show the difference between creating a full copy of an array and creating a view of the same data.